@import 'mixin/breakpoints.mixin';

.about-block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 120px;
  margin-bottom: 80px;

  @include laptop {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
}

.about__picture {
  width: 300px;
  height: 408px;
  margin-top: 80px;
}

.about__text-title {
  font-size: 35px;
  color: #545454;
  font-family: Georgia;
  margin-top: 80px;
  line-height: 45px;

  @include phone {
    text-align: center;
  }
}

.about__text-description {
  font-size: 15px;
  color: #4C4C4C;
  font-family: Arial;
  margin-top: 30px;
  line-height: 24px;
  text-wrap: wrap;
  max-width: 430px;

  @include phone {
    text-align: justify;
    margin: 0px 25px;
    margin-top: 25px;
  }
}