@import 'mixin/breakpoints.mixin';
@import 'mixin/hover.mixin';

.header-ourpets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin-top: 30px;
}

.line-select2 {
  width: 58px;
  height: 3px;
  margin-top: 5px;
  background-color: #F1CDB3;
}

.header__pageselect-ourpets {
  color: #292929;
  font-size: 15px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.header__pageselect-ourpets--burger {
  color: #FAFAFA;
  font-size: 32px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.header__linkword-ourpets {
  display: flex;
  gap: 30px;
  font-family: Arial;
  color: #545454;
  font-size: 16px;
}

.header__title-name2 {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 3px;
}

.header__title-goal2 {
  color: #292929;
  font-size: 13px;
  font-family: Arial;
  letter-spacing: 1px;
}

.burger__line--secondpage {

  @include phone {
    width: 28px;
    border: 1px solid #000000;
  }
}