* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.main__title-name {
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 2px;
}

.main__title-goal {
  color: #FFFFFF;
  font-size: 13px;
  font-family: Arial;
  letter-spacing: 1px;
}

.main__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // Использую gap
  gap: 8px;
}

.link__word {
  display: flex;
  // Использую gap
  gap: 30.7px;
  font-family: Arial;
  color: #CDCDCD;
  font-size: 16px;
}

.choosepage {
  color: #FAFAFA;
  font-size: 15px;
}

.shoose-line {
  width: 114px;
  height: 3px;
  margin-top: 5px;
  background-color: #F1CDB3;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  margin-top: 30px;
}

.hi__baground {
  width: 100%;
  height: 908px;
  background-image: url(/shelter/images/hipage/hipage__background.jpg);
  background-size: cover;
  position: absolute;
  z-index: -1;
  top: 0px;
}


.hipage__picture {
  width: 698px;
  height: 728px;
  background-image: url(/shelter/images/hipage/hipage__dog.png);
}

.text__title-word {
  font-size: 44px;
  color: #FFFFFF;
  font-family: Georgia;
  line-height: 57.2px;
  letter-spacing: 3px;
}

.text__description-word {
  font-size: 15px;
  color: #CDCDCD;
  font-family: Arial;
  line-height: 24px;

}

.text__button-word {
  font-size: 17px;
  color: #292929;
  font-family: Georgia;
  letter-spacing: 3px;

}

.hipage__text-button {
  width: 207px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; 
  outline: none;

}

.hipage__text {
  display: flex;
  flex-direction: column;
  //использую gap
  gap: 45px;
  margin-top: -110px;
}

.main__hipage-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  margin-top: 90px;
}

.about__picture {
  width: 300px;
  height: 408px;
  margin-top: 80px;
  background-image: url(/shelter/images/aboutshelter/about-pets.png);
}

.about__text-title {
  font-size: 35px;
  color: #545454;
  font-family: Georgia;
  margin-top: 80px;
  line-height: 45.5px;
}

.about__text-description {
  font-size: 15px;
  color: #4C4C4C;
  font-family: Arial;
  margin-top: 30px;
  line-height: 24px;
}

.main__about-block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 120px;
}

.description__title-textfirst {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  margin-top: 80px;
  letter-spacing: 3px;
}

.description__title-textsecond {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  letter-spacing: 3px;
}

.description__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main__description-block {
  height: 877px;
  background-color: #F6F6F6;
  margin-top: 80px;
}

.table__pet {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-picture img {
  margin-top: -80px;
  width: 270px;
  height: 270px;
}

.table__pet-name {
  font-size: 20px;
  margin-top: 30px;
  font-family: Georgia;
  color: #545454;
  letter-spacing: 3px;
}

.table__pet-button {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
  background-color: #FAFAFA;
}

.desription__arrow {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}

.desription__tables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.description__pets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 105px;
  gap: 53px;
}

.description__button {
  width: 261px;
  height: 52px;
  font-size: 17px;
  font-family: Georgia;
  color: #292929;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none; 
  outline: none;
}

.can__title-textfirst {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  margin-top: 80px;
  letter-spacing: 3px;

}

.can__title-textsecond {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  letter-spacing: 3px;
}

.can__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.can__option-picture {
  width: 60px;
  height: 60px;
}

.can__option-title {
  font-size: 20px;
  font-family: Georgia;
  color: #545454;
  margin-top: 30px;
  letter-spacing: 1px;
}

.can__option-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.can__option {
  padding: 0px 70px;
  height: 281px;
  margin-top: 60px;
  margin: auto;
}

.can__option-firstline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 120px;
}


.main__donation-block {
  background-color: #F6F6F6;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

}

.donation__picture {
  background-image: url(/shelter/images/donation/donation-dog.png);
  width: 505px;
  height: 261px;
}

.donation__text-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45.5px;
  letter-spacing: 3px;
  color: #545454;
}

.donation__text-account {
  font-size: 15px;
  font-family: Georgia;
  line-height: 16.5px;
  letter-spacing: 3px;
  color: #545454;
}

.text__cards-picture {
  width: 30px;
  height: 23px;
}

.text__cards-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 2px;
  color: #545454;
}

.donation__text-cards {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.donation__text-description {
  font-size: 12px;
  font-family: Arial;
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
}

.donation__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.footer__main-block {
  background-image: url(/shelter/images/footer/footer-gradient-background.png);
  background-size: cover;
}

.footer__questions-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45.5px;
  letter-spacing: 3px;
  color: #FFFFFF;
}

.footer__questions-email {
  width: 251px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.questions__email-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
}

.footer__questions-number {
  display: flex;
  align-items: center;
}

.questions__number-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
  margin-left: 20px;
}

.footer__visit-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45.5px;
  letter-spacing: 3px;
  color: #FFFFFF;
}

.visit__place-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
}

.visit__place-textsecond {
  margin-right: 25px;
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
}

.footer__visit-place {
  height: 46px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.questions__email-picture img {
  width: 40px;
  height: 32px;
}

.questions__enumber-picture img {
  width: 40px;
  height: 32px;
}

.footer__picture {
  width: 300px;
  height: 310px;
  background-image: url(/shelter/images/footer/footer-puppy.png);
  margin-top: 40px;
}

.footer__main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 160px;
}

.footer__questions {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__visit {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
//
.shoose-line2 {
  width: 58px;
  height: 3px;
  margin-top: 5px;
  background-color: #F1CDB3;
}

.choosepage2 {
  color: #292929;
  font-size: 15px;
}

.link__word2 {
  display: flex;
  // Использую gap
  gap: 30.7px;
  font-family: Arial;
  color: #545454;
  font-size: 16px;
}

.main__title-name2 {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 3px;
}

.main__title-goal2 {
  color: #292929;
  font-size: 13px;
  font-family: Arial;
  letter-spacing: 3px;
}

.main__looking-block {
  height: 1342px;
  background-color: #F6F6F6;
  margin-top: 40px;
}

.looking__pets-firstline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.looking__pets-secondline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.looking__pets-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.looking__title-textfirst {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  margin-top: 50px;
  letter-spacing: 3px;
}

.looking__title-textsecond {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  letter-spacing: 3px;
}

.pets__slider-doubleleft {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CDCDCD;
  background-color: #FFFFFF;
}

.pets__slider-left {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CDCDCD;
  background-color: #FFFFFF;

}

.pets__slider-page {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1CDB3;
}

.pets__slider-right {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  background-color: #FFFFFF;

}

.pets__slider-doubleright {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  background-color: #FFFFFF;

}

.pets__slider-text {
  font-size: 20px;
  letter-spacing: 3px;
  color: #292929;
  font-family: Georgia;
}

.looking__pets-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .main__hipage-block {
    flex-direction: column;
    align-items: center;
  }
  .hipage__picture  {
    width: 569px;
    height: 595px;
    background-size: cover;
  }
  .hi__baground {
    width: 100%;
    height: 1165px;
  }
  .hipage__text {
    margin-top: 20px;
  }
  .hipage__text-button{
    margin: auto;
  }
  .main__about-block {
    flex-direction: column-reverse;
    align-items: center;
    gap: 80px;
  }
  .desription__tables {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .desription__tables .table__pet:nth-child(3){
    display: none;
  }
  .description__pets {
    gap: 12px;
  }
  .can__option-firstline {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 69px;
    gap: 51px;
  }
  .main__donation-block {
    margin-top: 300px;
  
  }

  .can__option-block {
    width: 170px;
    height: 113px;
  }
  .main__donation-block {
    flex-direction: column-reverse;
  }

  .donation__text {
    margin-top: 80px;
  }
  .donation__picture {
    margin-bottom: 100px;
  }
  .footer__text {
    display: flex;
    gap: 60px;
    margin-top: 30px;
  }
  .footer__main-block {
    flex-direction: column;
    gap: 65px;
  }

}