@import 'components/index';

* {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.adaptiveresolution {
  display: none;
}

@media (max-width: 320px) {

  .normalresolution {
    display: none;
  }
  .adaptiveresolution {
    display: inline;
  }

}