.main__img-BMW {
  transition: all 0.3s ease;
}

.main__enter-section-BMW {
  background-color: rgba(0, 0, 0, 0.8); /* полупрозрачный тёмный фон */
}

.main__enter-title-BMW {
  margin-top: 70px;
  color: #81C4FF;
}

.main__enter-input-BMW {
  background-color: #16588E;
  color: white;
}

.main__enter-input-BMW:focus {
  background-color: #084678;
  color: white;
}

.main__enter-input-BMW:hover {
  background-color: #084678;
  color: white;
}

.main__enter-button-BMW {
  background-color: #E7222E;
  color: rgb(157, 157, 157);
}

.main__enter-button-BMW:hover {
  background-color: #c80714;
  color: rgb(228, 228, 228);
}

.main__style-BMW {
  color: rgb(199, 199, 199);
}

.main__style-BMW:hover {
  color: #0e74c8;
}