@charset "UTF-8";
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
}

.header__link-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-family: Arial;
  color: #CDCDCD;
  font-size: 16px;
}

.page-select {
  color: #FAFAFA;
  font-size: 15px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.burger {
  display: none;
  z-index: 3;
}
@media (max-width: 767px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .burger__line {
    width: 28px;
    border: 1px solid #F1CDB3;
  }
}

.header__page-select {
  color: #FAFAFA;
  font-size: 15px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.header__page-select--burger {
  color: #FAFAFA;
  font-size: 32px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.hipage__background {
  background-image: url(/shelter/images/hipage/hipage__background.jpg);
  background-size: cover;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .hipage__background {
    width: 100%;
  }
}

.hipage-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
  margin-top: 120px;
}
@media (max-width: 1279px) {
  .hipage-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 767px) {
  .hipage-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
}

.hipage__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  margin-top: -110px;
}
@media (max-width: 767px) {
  .hipage__text .hipage__text {
    margin-top: 20px;
  }
}

.text__title-word {
  font-size: 44px;
  color: #FFFFFF;
  font-family: Georgia;
  line-height: 57px;
  letter-spacing: 3px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .text__title-word {
    font-size: 35px;
    text-align: center;
    line-height: 32px;
    margin-top: 120px;
  }
}

.hipage__picture {
  width: 698px;
  height: 728px;
  background-image: url(/shelter/images/hipage/hipage__dog.png);
}
@media (max-width: 1279px) {
  .hipage__picture {
    margin-top: 30px;
    width: 569px;
    height: 595px;
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .hipage__picture {
    width: 260px;
    height: 271px;
    margin-top: 46px;
  }
}

.text__description-word {
  font-size: 15px;
  color: #CDCDCD;
  font-family: Arial;
  line-height: 24px;
  max-width: 460px;
}
@media (max-width: 767px) {
  .text__description-word {
    text-align: center;
  }
}

.hipage__text-button {
  width: 206px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
@media (max-width: 1279px) {
  .hipage__text-button {
    margin: auto;
  }
}
.hipage__text-button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.text__button-word {
  font-size: 17px;
  color: #292929;
  font-family: Georgia;
  letter-spacing: 3px;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 120px;
  margin-bottom: 80px;
}
@media (max-width: 1279px) {
  .about-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
}

.about__picture {
  width: 300px;
  height: 408px;
  margin-top: 80px;
}

.about__text-title {
  font-size: 35px;
  color: #545454;
  font-family: Georgia;
  margin-top: 80px;
  line-height: 45px;
}
@media (max-width: 767px) {
  .about__text-title {
    text-align: center;
  }
}

.about__text-description {
  font-size: 15px;
  color: #4C4C4C;
  font-family: Arial;
  margin-top: 30px;
  line-height: 24px;
  text-wrap: wrap;
  max-width: 430px;
}
@media (max-width: 767px) {
  .about__text-description {
    text-align: justify;
    margin: 0px 25px;
    margin-top: 25px;
  }
}

.description-block {
  height: auto;
  background-color: #F6F6F6;
  padding-top: 40px;
  padding-bottom: 100px;
}

.description__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #545454;
  font-size: 25px;
  font-family: Georgia;
  margin-top: 60px;
  letter-spacing: 2px;
  text-align: center;
}

.description__pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
  margin-top: 40px;
  gap: 25px;
}
@media (max-width: 767px) {
  .description__pets {
    gap: 8px;
  }
}
@media (max-width: 767px) {
  .description__pets {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.desription__arrow-left {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.desription__arrow-left:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.desription__arrow-left:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
@media (max-width: 767px) {
  .desription__arrow-left:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 140px;
    margin-top: 20px;
  }
}

.desription__arrow-right {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.desription__arrow-right:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.desription__arrow-right:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}
@media (max-width: 767px) {
  .desription__arrow-right {
    margin-top: -60px;
    margin-left: 140px;
  }
  .desription__arrow-right:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.table__pet-first {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-second {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .table__pet-second {
    display: none;
  }
}

.table__pet-third {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}
@media (max-width: 1279px) {
  .table__pet-third {
    display: none;
  }
}

.table__pet-name-first {
  font-size: 20px;
  margin-top: 30px;
  font-family: Georgia;
  color: #545454;
  letter-spacing: 3px;
}

.table__pet-name-second {
  font-size: 20px;
  margin-top: 30px;
  font-family: Georgia;
  color: #545454;
  letter-spacing: 3px;
}

.table__pet-name-third {
  font-size: 20px;
  margin-top: 30px;
  font-family: Georgia;
  color: #545454;
  letter-spacing: 3px;
}

.table__pet-button {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  background-color: #FAFAFA;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.table__pet-button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.table__pet-button-first {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  background-color: #FAFAFA;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.table__pet-button-first:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.table__pet-button-second {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  background-color: #FAFAFA;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.table__pet-button-second:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.table__pet-button-third {
  width: 187px;
  height: 52px;
  margin-top: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 3px;
  background-color: #FAFAFA;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.table__pet-button-third:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.description__button {
  width: 261px;
  height: 52px;
  font-size: 17px;
  font-family: Georgia;
  color: #292929;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  letter-spacing: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.description__button:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.desription__tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
@media (max-width: 767px) {
  .desription__tables {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    gap: 40px;
  }
}
@media (max-width: 1279px) {
  .desription__tables {
    gap: 15px;
  }
  .desription__tables .table__pet:nth-child(3) {
    display: none;
  }
}
@media (max-width: 767px) {
  .desription__tables .table__pet:nth-child(2) {
    display: none;
  }
}

/* Стили для анимации карусели */
.carousel-slide-left {
  -webkit-animation: slideLeft 0.5s ease forwards;
          animation: slideLeft 0.5s ease forwards;
}

.carousel-slide-right {
  -webkit-animation: slideRight 0.5s ease forwards;
          animation: slideRight 0.5s ease forwards;
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
}
.description__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  margin-top: 80px;
  letter-spacing: 2px;
  text-align: center;
}

.can__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.can__option-picture {
  width: 60px;
  height: 60px;
}
@media (max-width: 767px) {
  .can__option-picture {
    width: 50px;
    height: 50px;
  }
}

.can__option-title {
  font-size: 20px;
  font-family: Georgia;
  color: #545454;
  margin-top: 30px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .can__option-title {
    font-size: 15px;
  }
}

.can__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
  gap: 120px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .can__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 70px;
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .can__option {
    margin-top: 42px;
    gap: 30px;
  }
}

.can__option-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .can__option-block {
    width: 170px;
    height: 110px;
  }
}

.donation-block {
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media (max-width: 1279px) {
  .donation-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.donation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.donation__text-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45px;
  letter-spacing: 3px;
  color: #545454;
}
@media (max-width: 767px) {
  .donation__text-title {
    text-align: center;
  }
}

.donation__text-account {
  font-size: 15px;
  font-family: Georgia;
  line-height: 16px;
  letter-spacing: 3px;
  color: #545454;
}
@media (max-width: 767px) {
  .donation__text-account {
    letter-spacing: 1px;
    text-align: center;
  }
}

.donation__text-cards {
  width: 350px;
  height: 42px;
  background-color: #F1CDB3;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
@media (max-width: 767px) {
  .donation__text-cards {
    letter-spacing: 1px;
    gap: 10px;
    padding-left: 5px;
    margin: auto;
  }
}

.text__cards-picture {
  width: 30px;
  height: 23px;
}

.text__creditcards-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 2px;
  color: #545454;
}
@media (max-width: 767px) {
  .text__creditcards-text {
    width: 325px;
    letter-spacing: 1px;
  }
}

.donation__text-description {
  font-size: 12px;
  font-family: Arial;
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
  max-width: 380px;
}
@media (max-width: 767px) {
  .donation__text-description {
    letter-spacing: 1px;
    text-align: justify;
    margin: 0px 15px;
  }
}

.footer-block {
  background-image: url(/shelter/images/footer/footer-gradient-background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
}

.footer__questions-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45px;
  letter-spacing: 3px;
  color: #FFFFFF;
}

.footer__questions-email {
  width: 250px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.questions__email-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
}

.footer__questions-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__number-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
  margin-left: 20px;
}

.footer__visit-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45px;
  letter-spacing: 3px;
  color: #FFFFFF;
}

.visit__place-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
}

.visit__place-textsecond {
  margin-right: 25px;
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 3px;
  color: #F1CDB3;
}

.footer__visit-place {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.questions__email-picture img {
  width: 40px;
  height: 32px;
}

.questions__enumber-picture img {
  width: 40px;
  height: 32px;
}

.footer__picture {
  width: 300px;
  height: 310px;
  background-image: url(/shelter/images/footer/footer-puppy.png);
  margin-top: 40px;
}

.footer__text {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 160px;
}
@media (max-width: 767px) {
  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .footer__text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: 30px;
  padding-left: 20px;
}

.footer__visit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 80px;
  gap: 28px;
  margin-top: 30px;
  padding-right: 20px;
}

.burger__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #292929;
  padding-top: 46px;
  height: 0;
  overflow: hidden;
  display: none;
  -webkit-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;
}

.show {
  display: block;
  height: 100%;
}

.burger__word {
  gap: 30px;
  font-family: Arial;
  color: #CDCDCD;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: 248px;
}

.burger__none {
  display: block;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .burger__line {
    width: 28px;
    border: 1px solid #F1CDB3;
  }
}

.header-ourpets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
  margin-top: 30px;
}

.line-select2 {
  width: 58px;
  height: 3px;
  margin-top: 5px;
  background-color: #F1CDB3;
}

.header__pageselect-ourpets {
  color: #292929;
  font-size: 15px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.header__pageselect-ourpets--burger {
  color: #FAFAFA;
  font-size: 32px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.header__linkword-ourpets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-family: Arial;
  color: #545454;
  font-size: 16px;
}

.header__title-name2 {
  color: #545454;
  font-family: Georgia;
  font-size: 32px;
  letter-spacing: 3px;
}

.header__title-goal2 {
  color: #292929;
  font-size: 13px;
  font-family: Arial;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .burger__line--secondpage {
    width: 28px;
    border: 1px solid #000000;
  }
}

.looking-block {
  background-color: #F6F6F6;
  margin-top: 40px;
}

.looking__pets-firstline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.looking__pets-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.looking__title-ourpets {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  margin-top: 50px;
  letter-spacing: 3px;
  text-align: center;
}

.looking__title-textsecond {
  color: #545454;
  font-size: 35px;
  font-family: Georgia;
  letter-spacing: 3px;
}

.pets__slider-doubleleft {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #CDCDCD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CDCDCD;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.pets__slider-doubleleft:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.pets__slider-left {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #CDCDCD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CDCDCD;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.pets__slider-left:hover {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.table__pet-name {
  font-size: 20px;
  margin-top: 30px;
  font-family: Georgia;
  color: #545454;
  letter-spacing: 3px;
}

.pets__slider-page {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1CDB3;
  border: none;
  font-size: 20px;
  color: #292929;
  font-family: Georgia;
}

.pets__slider-right {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.pets__slider-right:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets__slider-doubleright {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  background-color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.pets__slider-doubleright:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.looking__pets-slider {
  background-color: #F6F6F6;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 50px;
}

.table__pet-katrine {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-jennifer {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-woody {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-sophia {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-timmy {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-charly {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-scralett {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.table__pet-freddie {
  margin-top: 60px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 9px;
  padding-bottom: 30px;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  /* Чтобы кнопка не реагировала на клики */
}

.table__pet-popup-woody {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-sophia {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-katrine {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-jennifer {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-scralett {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-timmy {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-charly {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-freddie {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  overflow: hidden;
}

.table__pet-popup-buttoncancel {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #292929;
  cursor: pointer;
  margin-left: 930px;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
@media (max-width: 1279px) {
  .table__pet-popup-buttoncancel {
    margin-left: 660px;
  }
}
@media (max-width: 767px) {
  .table__pet-popup-buttoncancel {
    margin-left: 250px;
  }
}
.table__pet-popup-buttoncancel:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.table__pet-popup-block {
  width: 900px;
  height: 500px;
  background-color: #FAFAFA;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.table__pet-popup-block img {
  border-radius: 9px;
}
@media (max-width: 1279px) {
  .table__pet-popup-block {
    width: 630px;
    height: 350px;
    gap: 22px;
  }
}
@media (max-width: 767px) {
  .table__pet-popup-block {
    width: 240px;
    height: 340px;
  }
}

.table__pet-popup-image {
  width: 500px;
  height: 500px;
}
@media (max-width: 1279px) {
  .table__pet-popup-image {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .table__pet-popup-image {
    display: none;
  }
}

.table__pet-popup-name {
  font-size: 35px;
  line-height: 45px;
  color: #000000;
  font-family: Georgia;
}
@media (max-width: 767px) {
  .table__pet-popup-name {
    line-height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1279px) {
  .table__pet-popup-name {
    margin-top: 5px;
  }
}

.table__pet-popup-breed {
  font-size: 20px;
  line-height: 45px;
  color: #000000;
  font-family: Georgia;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .table__pet-popup-breed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1279px) {
  .table__pet-popup-breed {
    margin-bottom: 5px;
  }
}

.table__pet-popup-description {
  font-size: 15px;
  color: #000000;
  font-family: Georgia;
  max-width: 350px;
  line-height: 16px;
  margin-bottom: 30px;
}
@media (max-width: 1279px) {
  .table__pet-popup-description {
    margin-bottom: 10px;
    max-width: 260px;
  }
}
@media (max-width: 767px) {
  .table__pet-popup-description {
    font-size: 12px;
    width: 220px;
    margin: 0 10px;
    margin-bottom: 5px;
  }
}

.table__pet-popup-inforamation {
  list-style: disc;
  margin-left: 12px;
  color: #000000;
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia;
}
.table__pet-popup-inforamation ::marker {
  color: #F1CDB3;
}
@media (max-width: 1279px) {
  .table__pet-popup-inforamation {
    line-height: 20px;
    margin-left: 10px;
  }
}

.bold {
  font-weight: bold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 40px;
}

.header__link-word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  font-family: Arial;
  color: #CDCDCD;
  font-size: 16px;
}

.page-select {
  color: #FAFAFA;
  font-size: 15px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.burger {
  display: none;
  z-index: 3;
}
@media (max-width: 767px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .burger__line {
    width: 28px;
    border: 1px solid #F1CDB3;
  }
}

.header__page-select {
  color: #FAFAFA;
  font-size: 15px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.header__page-select--burger {
  color: #FAFAFA;
  font-size: 32px;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 3px;
}

.burger__menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #292929;
  padding-top: 46px;
  height: 0;
  overflow: hidden;
  display: none;
  -webkit-transition: height 0.9s ease-in-out;
  transition: height 0.9s ease-in-out;
}

.show {
  display: block;
  height: 100%;
}

.burger__word {
  gap: 30px;
  font-family: Arial;
  color: #CDCDCD;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-top: 248px;
}

.burger__none {
  display: block;
}

.burger {
  display: none;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

@media (max-width: 767px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 767px) {
  .burger__line {
    width: 28px;
    border: 1px solid #F1CDB3;
  }
}

* {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}