@import 'breakpoints.mixin';

.header__menu {
    border-bottom: 2px solid #403F3D;
}

.menu__title {
    font-size: 60px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    text-align: center;
    max-width: 780px;
    margin: 0px auto;
    margin-top: 20px;

    @include tablet {
        max-width: 610px;
    }

    @include phone {
        font-size: 32px;
        max-width: 316px;
    }
}

.menu__title-word {
    color: #B0907A;
    font-style: italic;
}

.menu__coffee {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;

        h3 {
            color: #E1D4C9;
        }
    }
}

.menu__tea {
    width: 90px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;

        h3 {
            color: #E1D4C9;
        }
    }
}

.menu__dessert {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;

        h3 {
            color: #E1D4C9;
        }
    }
}


.menu__coffee-categories {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.menu__tea-categories {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}


.menu__dessert-categories {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}


.menu__coffee-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__tea-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__dessert-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu-categories-selected {
    color: #E1D4C9;
}

.menu__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 40px;

    @include phone {
        gap: 5px;
    }
}

.menu-card-img {
    border-radius: 40px;
    cursor: pointer;

    & img {
        width: 340px;
        height: 340px;
    }
}

.menu-card {
    border: 1px solid #C1B6AD;
    border-radius: 40px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 506px;
    width: 310px;

    @include tablet {
        &:nth-child(1n+5) {
            display: none;
        }
    }
}

.menu-item {
    font-size: 24px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;

}

.menu-description {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    max-width: 270px;
    margin-left: 20px;
    margin-top: 12px;
}

.menu-price {
    font-size: 24px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-left: 20px;
    display: flex;
    align-items: end;
    margin-top: 456px;
    position: absolute;
    z-index: -3;

}

.menu__products {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;

}

.menu__more {
    width: 60px;
    height: 60px;
    background-color: #E1D4C9;
    border: 1px solid #665F55;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 40px;
    display: none;

    @include tablet {
        display: flex;
    }
}


.menu__popup {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #29292999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;

}

.popup__block {
    width: 800px;
    height: 500px;
    background-color: #E1D4C9;
    border-radius: 40px;
    display: flex;
    padding-top: 16px;
    padding-left: 16px;
    gap: 20px;

    @include tablet {
        width: 690px;
        height: 630px;
    }

    @include phone {
        width: 340px;
        height: 620px;
    }

}

.popup__title {
    font-size: 24px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.popup__description {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    max-width: 438px;
    margin-top: 12px;

    @include tablet {
        max-width: 300px;
    }
}

.popup__size-title {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.button-small-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.button-small-size {
    font-size: 13px;
    font-family: "Inter", sans-serif;

}

.popup__button-small {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
    gap: 8px;
    color: #403F3D;
    cursor: pointer;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }

}

.popup__button-medium {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
    gap: 8px;
    color: #403F3D;
    cursor: pointer;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }

}

.button-medium-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.button-medium-size {
    font-size: 13px;
    font-family: "Inter", sans-serif;

}

.popup__button-large {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
    gap: 8px;
    color: #403F3D;
    cursor: pointer;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }

}

.button-large-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.button-large-size {
    font-size: 13px;
    font-family: "Inter", sans-serif;

}

.popup__additives-title {
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}

.button-first-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.button-first-additives {
    font-size: 13px;
    font-family: "Inter", sans-serif;

}

.popup__button-first {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
    gap: 8px;
    color: #403F3D;
    cursor: pointer;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }

}

.popup__button-second {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
    color: #403F3D;
    cursor: pointer;
    gap: 6px;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }
}

.button-second-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.button-second-additives {
    font-size: 13px;
    font-family: "Inter", sans-serif;

}

.popup__button-third {
    width: 108px;
    height: 46px;
    border-radius: 100px;
    background-color: #E1D4C9;
    border: 1px solid #C1B6AD;
    display: flex;
    justify-content: start;
    padding-left: 5px;
    align-items: center;
    gap: 8px;
    color: #403F3D;
    cursor: pointer;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }

    @include tablet {
        width: 95px;
    }

}

.button-third-active {
    width: 30px;
    height: 30px;
    background-color: #C1B6AD;
    border: 1px solid #C1B6AD;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.popup__total-title {
    font-size: 24px;
    color: #403F3D;
    font-family: "Inter", sans-serif;

}

.total__price {
    font-size: 24px;
    color: #403F3D;
    font-family: "Inter", sans-serif;

}

.popup__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C1B6AD;

    @include tablet {
        max-width: 330px;
    }
}

.info_description {
    max-width: 440px;
    font-size: 10px;
    color: #403F3D;
    font-family: "Inter", sans-serif;

    @include tablet {
        width: 300px;
    }
}

.popup__info {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: 12px;
}

.popup__buttoncancel {
    margin-top: 20px;
    width: 464px;
    height: 44px;
    border: 1px solid #665F55;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E1D4C9;

    &:hover {
        background-color: #665F55;
        border: 1px solid #665F55;
        color: #C1B6AD;
    }

    @include tablet {
        width: 330px;
    }
}

.popup__buttoncancel-text {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.popup__img {
    width: 310px;
    height: 310px;
    border-radius: 40px;

    @include phone {
        display: none;
    }
}

.popup__button-size {
    display: flex;
    gap: 8px;
    margin-top: 8px;

    @include tablet {
        max-width: 326px;
        flex-wrap: wrap;
    }
}

.popup__button-additives {
    display: flex;
    gap: 8px;
    margin-top: 8px;

    @include tablet {
        max-width: 326px;
        flex-wrap: wrap;
    }
}

.menu-selected {
    background-color: #665F55;
    border: 1px solid #665F55;
    color: #E1D4C9;
}