.header-menu {
  border-bottom: 2px solid #403F3D;
}

.menu-title {
  font-size: 60px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  text-align: center;
  max-width: 780px;
  margin: 0px auto;
  margin-top: 20px;
}
@media (max-width: 1439px) {
  .menu-title {
    max-width: 610px;
  }
}
@media (max-width: 767px) {
  .menu-title {
    font-size: 32px;
    max-width: 316px;
  }
}

.menu-title-word {
  color: #B0907A;
  font-style: italic;
}

.menu-coffee {
  width: 108px;
  height: 46px;
  border-radius: 100px;
  background-color: #E1D4C9;
  border: 1px solid #C1B6AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu-tea {
  width: 90px;
  height: 46px;
  border-radius: 100px;
  background-color: #E1D4C9;
  border: 1px solid #C1B6AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu-dessert {
  width: 108px;
  height: 46px;
  border-radius: 100px;
  background-color: #E1D4C9;
  border: 1px solid #C1B6AD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.menu-categories {
  font-size: 16px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
}

.menu-active {
  width: 30px;
  height: 30px;
  background-color: #C1B6AD;
  border-radius: 100px;
}

.menu-active {
  background-color: #C1B6AD;
  border: 1px solid #C1B6AD;
}

.menu-categories-selected {
  color: #E1D4C9;
}

.menu-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .menu-buttons {
    gap: 5px;
  }
}

.menu-selected {
  background-color: #665F55;
  border: 1px solid #665F55;
  color: #E1D4C9;
}

.menu-active-selected {
  background-color: #E1D4C9;
  border: 1px solid #E1D4C9;
}

.menu-card-img {
  border-radius: 40px;
}
.menu-card-img img {
  width: 340px;
  height: 340px;
}

.menu-card {
  border: 1px solid #C1B6AD;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 310px;
}

.menu-item {
  font-size: 24px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.menu-description {
  font-size: 16px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  max-width: 270px;
  margin-left: 20px;
  margin-top: 12px;
}

.menu-price {
  font-size: 24px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.menu-products {
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}