@import 'mixin/breakpoints.mixin';

.header__logo {
    z-index: 2;
    
    & img {
        width: 100px;
        height: 60px;
    }

}

.header__pages {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #403F3D;
    display: flex;
    gap: 40px;

    @include phone {
        display: none;
    }
}

.header__menu {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #403F3D;
    display: flex;
    align-items: center;
    gap: 8px;
    border-bottom: 2px solid #E1D4C9;
    transition: border-bottom 0.3s linear;
    margin-top: 2px;

    &:hover {
        border-bottom: 2px solid #403F3D;
    }

    @include phone {
        display: none;
    }

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: 20px;

    @include phone {
        padding: 0px 16px;
    }
}

.header__burger {
    background-color: #E1D4C9;
    display: none;

    @include phone {
        width: 44px;
        height: 44px;
        border: 1px solid #665F55;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        z-index: 2;
    }


}

.header__burger-menu {
    background: #E1D4C9;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    display: none;
}


.burger-menu {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    &:hover {
        border-bottom: 2px solid #403F3D;
    }

    & img {
        width: 40px;
        height: 40px;
    }
}

.burger-link {
    font-size: 32px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
}

.header__burger-menu-active {
    display: flex;
    position: absolute;
    animation: 1s show ease;
}

@keyframes show {
    from {
        margin-left: 100%
    }

    to {
        margin-left: 0px;
    }
}

.header__burger-menu-noactive {
    display: flex;
    animation: 1s page ease;
}


@keyframes page {
    from {
        margin-left: 0px;
    }

    to {
        margin-left: 100%;
    }
}


.line-bottom {
    transform: rotate(45deg);
    position: absolute;
}

.line-top {
    transform: rotate(-45deg);
    position: absolute;
}