@import 'mixin/breakpoints.mixin';

.place__photo {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;

    @include tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.place__column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.place__column:nth-child(1) {
    display: flex;
    flex-direction: column-reverse;
}

.place__column:nth-child(1) .photo__bigger {
    background-image: url(/coffee-house/images/place/place-1.png);
    background-position: 40% 50%;
    border-radius: 20px;
    width: 660px;
    height: 590px;

    @include phone {
        background-position: 50% 30%;
        width: 342px;
        height: 590px;
    }
}

.place__column:nth-child(2) .photo__bigger {
    background-image: url(/coffee-house/images/place/place-2.png);
    background-position: 40% 50%;
    border-radius: 20px;
    width: 660px;
    height: 590px;

    @include phone {
        background-position: 50% 30%;
        width: 342px;
        height: 590px;
    }
}

.place__column:nth-child(1) .photo__smaller {
    background-image: url(/coffee-house/images/place/place-4.png);
    background-position: 40% 50%;
    border-radius: 20px;
    width: 660px;
    height: 430px;

    @include tablet {
        display: none;
    }
}

.place__column:nth-child(2) .photo__smaller {
    background-image: url(/coffee-house/images/place/place-3.png);
    background-position: 40% 50%;
    border-radius: 20px;
    width: 660px;
    height: 430px;

    @include tablet {
        display: none;
    }
}

.place__title {
    font-size: 60px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    text-align: center;
    max-width: 1250px;
    margin: 0px auto;


    @include tablet {
        max-width: 688px;
        width: auto;
        margin-left: auto;
        text-align: justify;
        margin: 0px 40px;
    }

    @include phone {
        max-width: 500px;
        font-size: 32px;
        margin: 0px 16px;
    }
}

.place__title-word {
    color: #B0907A;
    font-style: italic;
}

.place {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}