@import 'mixin/breakpoints.mixin';

.place__photo {
    margin-top: 40px;
    display: flex;
    gap: 40px;
    justify-content: center;

    @include tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.place__column {
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.photo__bigger {
    border-radius: 20px;
    width: 660px;
    height: 590px;

    @include phone {
        width: 342px;
        height: 470px;
    }
}

.photo__smaller {
    border-radius: 20px;
    width: 660px;
    height: 430px;

    @include tablet {
        display: none;
    }
}

.place__title {
    font-size: 60px;
    color: #403F3D;
    font-family: "Inter", sans-serif;
    text-align: center;
    max-width: 1250px;
    margin: 0px auto;
    

    @include tablet {
        width: auto;
        text-align: justify;
        margin: 0px 40px;
    }

    @include phone {
        width: auto;
        font-size: 32px;
        margin: 0px 16px;
    }
}

.place__title-word {
    color: #B0907A;
    font-style: italic;
}

.place {
    margin-top: 100px;
}