/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}

.header img {
  width: 100%;
}

.header .header_info {
  font-family: fantasy, cursive;
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.main__add {
  display: flex;
  gap: 10px;
  margin-top: 32px;
}

.main__completed {
  margin: 0px;
  padding: 0px;
}

li,
h3 {
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

button:hover {
  color: #3a3a3a;
}

.main__title--underlining {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for="main__add-input"] {
  display: block;
  margin: 0 0 20px;
}

input#main__add-input {
  width: 318px;
}

.main__add-input {
  width: 500px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.maint__todo-list {
  display: flex;
  gap: 10px;
}

.main__todo {
  margin: 0px;
  padding: 0px;
  margin-left: 10px;
}

.editMode {
  display: flex;
  gap: 10px;
}

.main__completed {
  margin-left: 10px;
}

label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.main__delete img {
  height: 30px;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.main__delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
.main__completed label {
  text-decoration: line-through #888;
}

/* Edit Task */
.main__todo input[type="text"] {
  display: none;
}

.main__completed input[type="text"] {
  display: none;
}

.editMode input[type="text"] {
  display: inline-block;
  width: 224px;
}

.editMode label {
  display: none;
}
