@import 'mixin/breakpoints.mixin';
.donation-block {
  background-color: #F6F6F6;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap-reverse;
  margin-top: 150px;
  @include tablet {
    flex-direction: column-reverse;
  }
}

.donation__picture {
  background-image: url(/shelter/images/donation/donation-dog.png);
  width: 505px;
  height: 261px;
  background-size: cover;
  @include tablet {
    margin-bottom: 100px;
  }
  @include fold {
    width: 320px;
    height: 177.8px;
    background-size: contain;
        background-repeat: no-repeat;
    
  }
  @include phonemax {
    width: 260px;
    height: 135.2px;
    
  }
}

.donation__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    margin-top: 80px;
  }
}

.donation__text-title {
  font-size: 35px;
  font-family: Georgia;
  line-height: 45.5px;
  letter-spacing: 3px;
  color: #545454;
  @include phonemax {
    text-align: center;
  }
}

.donation__text-account {
  font-size: 15px;
  font-family: Georgia;
  line-height: 16.5px;
  letter-spacing: 3px;
  color: #545454;
  @include phonemax {
    letter-spacing: 1px;
    text-align: center;
  }
  
}

.donation__text-cards {
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  @include fold {
    width: 325px;
  }
  @include phonemax {
    letter-spacing: 1px;
    gap: 10px;
    padding-left: 5px;
    margin: auto;
  }
}

.text__cards-picture {
  width: 30px;
  height: 23px;
}

.text__cards-text {
  font-size: 20px;
  font-family: Georgia;
  line-height: 23px;
  letter-spacing: 2px;
  color: #545454;
  @include fold {
    width: 325px;
    letter-spacing: 1px;
  }
  
}

.donation__text-description {
  font-size: 12px;
  font-family: Arial;
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
  @include phonemax {
    letter-spacing: 1px;
    text-align: justify;
    margin: 0px 15px;
  }
  
}