@import 'mixin';
.line-select2 {
    width: 58px;
    height: 3px;
    margin-top: 5px;
    background-color: #F1CDB3;
  }
  
  .page-select2 {
    color: #292929;
    font-size: 15px;
  }
  
  .link__word2 {
    display: flex;
    gap: 30.7px;
    font-family: Arial;
    color: #545454;
    font-size: 16px;
  }
  
  .header__title-name2 {
    color: #545454;
    font-family: Georgia;
    font-size: 32px;
    letter-spacing: 3px;
  }
  
  .header__title-goal2 {
    color: #292929;
    font-size: 13px;
    font-family: Arial;
    letter-spacing: 3px;
  }
  
  .looking-block {
    height: 1342px;
    background-color: #F6F6F6;
    margin-top: 40px;
  }
  
  .looking__pets-firstline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
  }
  
  .looking__pets-secondline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
  }
  
  .looking__pets-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .looking__title-textfirst {
    color: #545454;
    font-size: 35px;
    font-family: Georgia;
    margin-top: 50px;
    letter-spacing: 3px;
  }
  
  .looking__title-textsecond {
    color: #545454;
    font-size: 35px;
    font-family: Georgia;
    letter-spacing: 3px;
  }
  
  .pets__slider-doubleleft {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CDCDCD;
    background-color: #FFFFFF;
  }
  
  .pets__slider-left {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #CDCDCD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CDCDCD;
    background-color: #FFFFFF;
  
  }
  
  .pets__slider-page {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1CDB3;
  }
  
  .pets__slider-right {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
    background-color: #FFFFFF;
  
  }
  
  .pets__slider-doubleright {
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
    background-color: #FFFFFF;
  
  }
  
  .pets__slider-text {
    font-size: 20px;
    letter-spacing: 3px;
    color: #292929;
    font-family: Georgia;
  }
  
  .looking__pets-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
  }